<%- include("partials/header.ejs") %>

<h1 class="mb-4">Quotes Found</h1>

<% if (quotes.length === 0) { %>
  <p>No quotes found.</p>
<% } %>

<% for (let i of quotes) { %>
  <p><%= i.quote %><br>
  <em>
    <a href="#" id="<%= i.authorId %>">
      <%= i.firstName %> <%= i.lastName %>
    </a>
  </em>
  </p>
<% } %>

<div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="authorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="authorModalLabel">Author Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="authorInfo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/scripts.js"></script>

<%- include("partials/footer.ejs") %>
